@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --secondary-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)
}

header {
    background-image: url("/images/group14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.primary-btn {
    padding: 18px 45px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--secondary-color);
    border: none;
    color: white;
    font-weight: bold;
}

.second-btn {
    background: #4EC5F7;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo-image img {
    width: 86.041px;
    height: 40px;
}

.logo-text {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.G {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus ul {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 22px;
}

.menus li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 16px;
}

.icon-text {
    color: #3C354F;
    font-size: 18px;
}



.banner-container {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -40px;
}

.banner-description {
    color: #534C64;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-top: -65px;
}

.gamer-container {
    display: flex;
    padding: 0 10%;
    background-color: #fff;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    align-items: center;
    justify-content: center;
}

.gamer-info {
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-size: 48px;
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    width: 520px;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gamer-btn {
    font-size: 18px;
    font-weight: 600px;
}

.highlight {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.gammer-description {
    text-align: right;
    color: var(--secondary-color);
    text-align: right;
    font-size: 21px;
    font-weight: 500;
    padding-left: 80px;
    line-height: 32px;
}



/* Career section styles */
.career {
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    gap: 50px;

    height: 821px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.career-info{
    margin-top: -60px;
}
.designation-address {
    color: white;
    margin-top: 15PX;
    display: flex;
    justify-content: space-between;
}
.address {
    text-align: right;
}
.career-title {
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.career-description {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.career-btn {
    padding: 18px 30px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20PX;
}









/* For Mobile Device */

@media screen and (max-width: 425px) {


    /* header, Navigation and Banner */
    header {
        background-size: 80% 35%;
        background-position: bottom;
        padding-bottom: 50px;
    }
    nav {
        flex-direction: column;
        padding: 0 10px;
        box-shadow: none;
    }
    .menus ul {
        flex-direction: column;
        padding-left: 22px;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .banner-img {
        width: 90%;
        margin: 0;
        padding-left: 15px;
    }
    .play {
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }
    .goat {
        font-size: 55px;
        margin-top: -10px;
        text-align: center;
    }
    .banner-description {
        margin-top: -35px;
        padding-left: 40px;
        font-size: 15px;
    }


    /* button styles */
    .btn {
        gap: 10px;
        margin-top: 20px;
        text-align: center;
        padding-left: 35px;
    }
    .primary-btn {
        padding: 10px 25px;
        font-weight: normal;
    }

    /* Gamer Section styles */
    .gamer-container {
        flex-direction: column;
        margin-top: 120px;
        background: none
    }
    .gamer-img {
        width: 100%;
        margin: auto;
        height: 100%;
    }
    .gamer-title {
        text-align: center;
        font-size: 35px;
    }
    .gammer-description {
        text-align: center;
        font-size: 18px;
        padding-left: 20px;
    }
    .gamer-info {
        text-align: center;
    }
    .highlight {
        font-size: 21px;
    }


    /* career section */
    .career {
        flex-direction: column;
        margin-top: 80px;
        width: auto;
        height: 1050px;
    }
    .career-info{
        margin-top: -10px;
    }
    .career-title {
        font-size: 30px;
        font-weight: 550;
        text-align: left;
        width: auto;
        margin-bottom: 0px;
    }
    .career-image{
        width: 100%;
    }
    .career-description {
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    .career-btn {
        padding: 15px 25px;
        font-size: 12px;
    }












    
}