@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --secondary-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)
}

header {
    background-image: url("/images/group14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.primary-btn {
    padding: 18px 45px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--secondary-color);
    border: none;
    color: white;
    font-weight: bold;
}

.second-btn {
    background: #4EC5F7;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.logo-image img {
    width: 86.041px;
    height: 40px;
}

.logo-text {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.G {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus ul {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 22px;
}

.menus li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 16px;
}

.icon-text {
    color: #3C354F;
    font-size: 18px;
}



.banner-container {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -40px;
}

.banner-description {
    color: #534C64;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-top: -65px;
}


/* We are Gamer section */
.gamer-container {
    display: flex;
    padding: 0 10%;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.gamer-info {
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-size: 48px;
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    width: 520px;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.gamer-btn {
    font-size: 18px;
    font-weight: 600px;
}

.highlight {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.gammer-description {
    text-align: right;
    color: var(--secondary-color);
    text-align: right;
    font-size: 21px;
    font-weight: 500;
    padding-left: 80px;
    line-height: 32px;
}





.games-funny-video-section {
    padding: 0 10%;
    margin-top: 100px;
}

.funny-video-container {
    display: flex;
    justify-content: space-around;
}

.funny-videos-title {
    text-align: center;
    margin-bottom: 30px;
}

.video-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 55px;
    margin-top: 15px;
}

.card {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: lightgray;
}

.card-description {
    padding-left: 2px;
}


.online-text {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 15px;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}





.container {
    position: relative;
    width: auto;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 15px;

    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }










/* Instant Section */
.instant-section {
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
    margin-top: 150px;
}

.instant-section div {
    flex: 1;
}

.instant-pic-container img {
    width: auto;
    position: relative;
}

.play-text {
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-info-container {
    display: flex;
    flex-direction: column;
    margin-top: -450px;
}

.instant-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
}

.instant-description {
    padding-left: 200px;
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    margin-top: -22px;
}

.rectangle66 {
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    bottom: 250px;
    right: 150px;
}





















/* Career section styles */
.career {
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: -130px;

    height: 821px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-info {
    margin-top: -60px;
}

.designation-address {
    color: white;
    margin-top: 15PX;
    display: flex;
    justify-content: space-between;
}

.address {
    text-align: right;
}

.career-title {
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career-description {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career-btn {
    padding: 18px 30px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20PX;
}

/* All Games Advertising */
.all-games {
    display: flex;
    padding: 0 6%;
    gap: 20px;
    row-gap: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 450px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 50px;
    padding: 0px 0px;
    width: 295px;
    height: 80px;
    background: #FFF;
    transition: all 0.1s;
    margin: 15px 0px 15px 0px;
}

.game:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

    .game-name {
        color: #FF42A5;
    }

    transform: scale(1.01);
}

.game-name {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.game img {
    width: 60px;
    height: 60px;
}


/* Footer Section */
footer {
    height: 550px;
    background: #0B0223;
    align-content: center;
}

.ftr {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;
    margin: auto;
}

.footer-imgage img {
    width: 66.041px;
    height: 30px;
}

.ft-g {
    color: #FF42A5;
    font-size: 40px;
    font-weight: 700;
}

.amer {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.shortcut {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-self: center;

}

.shortcut p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.icons-container img {
    width: 30px;
    height: 30px;
}

.terms {
    margin-top: 30px;
    margin-bottom: 20px;
}















































/* 

For Mobile Device

@media screen and (max-width: 425px) {


    header, Navigation and Banner
    header {
        background-size: 80% 35%;
        background-position: bottom;
        padding-bottom: 50px;
    }

    nav {
        flex-direction: column;
        padding: 0 10px;
        box-shadow: none;
    }

    .menus ul {
        flex-direction: column;
        padding-left: 22px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .banner-img {
        width: 90%;
        margin: 0;
        padding-left: 15px;
    }

    .play {
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }

    .goat {
        font-size: 55px;
        margin-top: -10px;
        text-align: center;
    }

    .banner-description {
        margin-top: -35px;
        padding-left: 40px;
        font-size: 15px;
    }






    button styles
    .btn {
        gap: 10px;
        margin-top: 20px;
        text-align: center;
        padding-left: 35px;
    }

    .primary-btn {
        padding: 10px 25px;
        font-weight: normal;
    }




    Gamer Section styles
    .gamer-container {
        flex-direction: column;
        margin-top: 120px;
        background: none
    }

    .gamer-img {
        width: 100%;
        margin: auto;
        height: 100%;
    }

    .gamer-title {
        text-align: center;
        font-size: 35px;
    }

    .gammer-description {
        text-align: center;
        font-size: 18px;
        padding-left: 20px;
    }

    .gamer-info {
        text-align: center;
    }

    .highlight {
        font-size: 21px;
    }







































    career section
    .career {
        flex-direction: column;
        margin-top: 80px;
        width: auto;
        height: 1050px;
    }

    .career-info {
        margin-top: -10px;
    }

    .career-title {
        font-size: 30px;
        font-weight: 550;
        text-align: left;
        width: auto;
        margin-bottom: 0px;
    }

    .career-image {
        width: 100%;
    }

    .career-description {
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }

    .career-btn {
        padding: 15px 25px;
        font-size: 12px;
    }




    Games advertising setion
    .all-games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 400px;
    }
    .game {
        gap: 10px;
        width: 110px;
        height: 50px;
    }
    .game:hover {
        border: 1px solid #FF42A5;
        border-radius: 50px;
        color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

        .game-name {
            color: #FF42A5;
        }

        transform: scale(1.01);
    }
    .game-name {
        color: #0B0223;
        font-size: 12px;
        font-weight: 600;
    }
    .game img {
        width: 30px;
        height: 30px;
    }





    Footer Section
    footer {
        height: 780px;
    }
    .footer-imgage img {
        width: 55px;
        height: 28px;
        padding-top: 5px;
    }
    .ft-g {
        font-size: 30px;
    }
    .amer {
        font-size: 30px;
    }
    .shortcut {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        padding: 10px 35px 30px 30px;
    }
    .icons-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 90px;
        row-gap: 25px;
        column-gap: 0px;
        margin-top: 10px;
    }
    .terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .ftr-text {
        display: flex;
        margin-top: -20px;
    }
    .sp {
        display: block;
    }
} */